footer {
    background-color: $footer-color;
    color: white;
    .foot-box {
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      .footer-icons {
        h5 {
          text-align: center;
          padding-bottom: 5px;
          font-size: .9rem;
        }
      }
      .information-footer{
        a {
         span {
           font-size: .8rem;
           padding: 5px 10px 0 0;
         }
        }
      }
    }
  }
