
  header{
    margin-bottom: 100px;
    .top-fixed {
      width: 100%;
      position: fixed;
      box-shadow: 0px 0px 15px $brand-color;
      top:0;
      left: 0;
      padding: 12px;
      background-color:$header-background;
      z-index: 999;
      .container.header-bar {
        justify-content: space-between;
        align-items: center;
      }
      .gender {
        a {
          &:hover{
            text-decoration: underline;
          }
          padding-right: 10px;
        }
      }
      .logo {
        a {
          img {
            width: 120px;
          }
        }
      }

    }
  }
